body {
  background: linear-gradient(to bottom, #ff4c87 0%, #eed1ff 100%);
  /* W3C */ }

.flowerfall {
  position: absolute;
  top: -240px;
  left: 0;
  width: 100%;
  height: calc(100% + 240px);
  z-index: 100; }
  .flowerfall .heart {
    width: 48px;
    height: 48px;
    animation-name: heartrotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* different delays so they don't all start at the same time */ }
    .flowerfall .heart path:nth-child(1) {
      fill: red;
      fill-opacity: 0.4875;
      transform: rotate(40deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(2) {
      fill: red;
      fill-opacity: 0.475;
      transform: rotate(80deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(3) {
      fill: red;
      fill-opacity: 0.4625;
      transform: rotate(120deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(4) {
      fill: red;
      fill-opacity: 0.45;
      transform: rotate(160deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(5) {
      fill: red;
      fill-opacity: 0.4375;
      transform: rotate(200deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(6) {
      fill: red;
      fill-opacity: 0.425;
      transform: rotate(240deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(7) {
      fill: red;
      fill-opacity: 0.4125;
      transform: rotate(280deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart path:nth-child(8) {
      fill: red;
      fill-opacity: 0.4;
      transform: rotate(320deg);
      transform-origin: 12px 20px; }
    .flowerfall .heart:nth-child(3n) {
      width: 32px;
      height: 32px;
      animation-duration: 4s;
      animation-iteration-count: 30;
      transform-origin: right -24px; }
    .flowerfall .heart:nth-child(3n+1) {
      animation-duration: 6s;
      animation-iteration-count: 45;
      transform-origin: right -12px; }
    .flowerfall .heart:nth-child(3n+2) {
      width: 64px;
      height: 64px;
      animation-duration: 8s;
      animation-iteration-count: 60;
      transform-origin: right 24px; }
    .flowerfall .heart:nth-child(7n) {
      opacity: .3;
      animation-delay: 0s;
      animation-timing-function: ease-in; }
    .flowerfall .heart:nth-child(7n+1) {
      opacity: .4;
      animation-delay: 1s;
      animation-timing-function: ease-out; }
    .flowerfall .heart:nth-child(7n+2) {
      opacity: .5;
      animation-delay: 1.5s;
      animation-timing-function: linear; }
    .flowerfall .heart:nth-child(7n+3) {
      opacity: .6;
      animation-delay: 2s;
      animation-timing-function: ease-in; }
    .flowerfall .heart:nth-child(7n+4) {
      opacity: .7;
      animation-delay: 2.5s;
      animation-timing-function: linear; }
    .flowerfall .heart:nth-child(7n+5) {
      opacity: .8;
      animation-delay: 3s;
      animation-timing-function: ease-out; }
    .flowerfall .heart:nth-child(7n+6) {
      opacity: .9;
      animation-delay: 3.5s;
      animation-timing-function: ease-in; }

@keyframes heartrotate {
  0% {
    transform: translate3d(0, -48px, 0) rotate(0); }
  100% {
    transform: translate3d(15px, 1600px, 0) rotate(360deg); } }

svg.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12vmin;
  background-color: transparent; }
  svg.container text {
    font-size: 64px;
    text-anchor: middle; }
    @media screen and (max-width: 480px) {
      svg.container text {
        writing-mode: vertical-lr; } }
  svg.container tspan {
    stroke: transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    fill: transparent; }
    svg.container tspan:nth-child(1) {
      animation: draw 4s 1.55s forwards; }
    svg.container tspan:nth-child(2) {
      animation: draw 4s 1.6s forwards; }
    svg.container tspan:nth-child(3) {
      animation: draw 4s 1.65s forwards; }
    svg.container tspan:nth-child(4) {
      animation: draw 4s 1.7s forwards; }
    svg.container tspan:nth-child(5) {
      animation: draw 4s 1.75s forwards; }

@keyframes draw {
  20%,
  80% {
    fill: transparent;
    stroke: #fff; }
  100% {
    fill: #fff;
    stroke: transparent;
    stroke-dasharray: 0;
    stroke-dashoffset: 0; } }
